.hashtags-form {
  position: absolute;
  position: absolute;
  bottom: 18px; 
  left: 18px;
  right: 18px;
  border-radius: 3px;

  &__input {
    width: 70%;
    padding: 10px 5px ;
    border: 0;
    background: #6767673d;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;   
  }

  &__btn {
    width: 30%;
    padding: 10px 5px ;
    background: #80a783;
    border: 0;
    color: #ffffff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;    
    transition: 0.5s;
    cursor: pointer;
    
    &:hover {
      background: #50ab57;
    }
  }
}