.header {  
  background: #c5c5c5;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.59);

  &__container {
    display: flex;
    align-items: center;
    min-height: 50px;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
  }
}

@media (max-width: 700px) {
  .header {
    &__container {
      flex-direction: column;
    }
  }
}
