.search-form {
  &__search-input {
    width: 180px;
    height: 35px;
    font-size: 20px;
    padding: 2px 15px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;   
    border: 0;
    background: #6767673d;
  }

  &__search-btn {
    background: #80a783;
    color: #ffffff;
    width: 80px;
    height: 35px;
    font-size: 20px;
    padding: 2px 8px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;    
    border: 0;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background: #50ab57;
    }
  }
}

@media (max-width: 700px) {
  .search-form {
    &__search-input {
      width: 300px;
      margin: 4px 0;
      border-radius: 3px;
    }

    &__search-btn {
      display: block;
      width: 100%;
      border-radius: 3px;
    }
  }
}
